@model IEnumerable<LaboratorioMarn.PRODUCTO>

@{
    Html.RenderPartial("TablaFiltroPartial", ViewData.Model);
}

<table class="table" id="ReactivoTable">
    <thead>
        <tr>
            <th>
                Estante|Nivel
            </th>
            <th>
                Reactivo
            </th>
            <th>
                Catalogo
            </th>
            <th>
                Lote
            </th>
            <th>
                Marca
            </th>
            <th>
                Fecha de ingreso
            </th>
            <th>
                Fecha de vencimiento
            </th>
            <th>
                Estado
            </th>
            <th>
                Presentacion
            </th>
            <th>
                Unidades
            </th>

            <th>
                Existencia total
            </th>
            <th>
                Existencia en frasco abierto
            </th>
            <th>
                Frascos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(PRODUCTO item in Model)
        {
            <tr>
                <td>
                    @item.ALMACEN.estante | @item.ALMACEN.nivel
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REACTIVO.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATALOGO.nombre_catalogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOTE.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA.nombre)
                </td>
                <td>
                    @item.fecha_ingreso.ToShortDateString()
                </td>
                <td>
                    @item.fecha_vencimiento.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.presentacion_cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UNIDAD.nombre)
                </td>

                @{
            var frascos = 0;
            var frascoAbierto = new Decimal();
            var total = new Decimal();
                }
                @foreach (var existencia in item.EXISTENCIA_PRODUCTO)
                {
                    if (!existencia.estado.Equals("terminado"))
                    {
                        frascos++;
                        total += existencia.cantidad;

                        if (existencia.estado.Equals("abierto"))
                        {
                            frascoAbierto = existencia.cantidad;
                        }
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => total)
                </td>


                @if (frascoAbierto != 0)
                {
                    <td>@Html.DisplayFor(modelItem => frascoAbierto)</td>
                }
                else
                {
                    <td>cerrado</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => frascos)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id_producto })
                </td>
            </tr>
        }
    </tbody>
</table>