@model IEnumerable<LaboratorioMarn.SOLICITANTE>

@{
    ViewBag.Title = "Solicitante";
}

<h2>Solicitante</h2>

<p>
    @Html.ActionLink("Crear Nuevo Solicitante", "Create", new { Bandera = 0 })
</p>
<table id="tablaSolicitante" class="table">
    <thead>
        <tr>
            
            <th>id</th>
            <th>
                @*@Html.DisplayNameFor(model => model.nombre_solicitante)*@
                Nombre Solicitante
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.direccion_solicitante)*@
                Dirección Solicitante
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.contacto_solicitante)*@
                Contacto Solicitante
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.correo_solicitante)*@
                Correo Electronico
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.telefono_1_solicitante)*@
                Número Telefónico
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.telefono_2_solicitante)*@
                Otro número telefónico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.id_solicitante</td>                
                 <td>
                    @Html.DisplayFor(modelItem => item.nombre_solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion_solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contacto_solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo_solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono_1_solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono_2_solicitante)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_solicitante }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.id_solicitante }) |*@
                    @Html.ActionLink("Borrar", "Delete", new { id = item.id_solicitante })
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    @foreach (ANALISI analisis in ViewBag.Analisis)
    {
        <div class="col-md-4">
            <div class="checkbox">
                <input type="checkbox" class="analisisSeleccionEmpleado" value="@analisis.id_analisis" />
                @analisis.nombre
            </div>
        </div>
    }
</div>



@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript">
        var tablaSolicitante;
        var solicitante = null;

        $(function () {
            tablaSolicitante = $("#tablaSolicitante").DataTable({
                columnDefs: [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    },
                    {
                        targets: [0],
                        visible: false,
                        searchable: false
                    }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                language: {
                    url: 'Scripts/spanish.json'
                }
            });

          

        })

    </script>
}

@section Styles {
    <link href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css" rel="stylesheet" />

    <style type="text/css">
        table.dataTable thead {
            font-size: 0.85em;
        }

        table.dataTable tbody {
            font-size: 0.85em;
        }
    </style>
}