@model LaboratorioMarn.SOLICITUD

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SOLICITUD</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_solicitud)

        <div class="form-group">
            @Html.LabelFor(model => model.id_empleado, "id_empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_empleado, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.id_empleado, (IEnumerable<SelectListItem>)ViewBag.EmpleadoSelection, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_estado, "id_estado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("id_estado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_estado, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.id_estado, (IEnumerable<SelectListItem>)ViewBag.estadoSelection, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_solicitante, "id_solicitante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("id_solicitante", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_solicitante, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.id_solicitante, (IEnumerable<SelectListItem>)ViewBag.SolicitanteSelection, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_estado_proceso, "id_estado_proceso", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("id_estado_proceso", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_estado_proceso, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.id_estado_proceso, (IEnumerable<SelectListItem>)ViewBag.EstadoprocesoSelection, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
