@using LaboratorioMarn.Models.Informe

@model InformeSolicitud

@{
    ViewBag.Title = "Informe";
    INFORME informe = ViewBag.Informe;
}

<script type="text/javascript" src="~/Content/html2canvas.js"></script>
<script type="text/javascript" src="~/Content/jspdf.min.js"></script>

<script type="text/javascript">
    function genpdf() {
        html2canvas(document.getElementById("reporte"), {
            onrendered: function (canvas) {
                var img = canvas.toDataURL("image/png");
                var doc = new jsPDF();
                doc.addImage(img, 'PNG', -30, 10, 280, 250);
                doc.save(doc.pdf);
            }
        })
    }

</script>
<div id="btnDescarga" class="col-md-2 text-center">
    <br /><br /><br />
    <input type="submit" onclick="javascript: genpdf();" value="Descargar" class="btn btn-success btn-block" />
</div>
<div id="reporte" style="display:block" class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                    <img src="~/Images/logo marn.jpg" alt="Alternate Text" class="img-responsive" />
                    @*<img src="http://s3.amazonaws.com/marn/images/logo+marn.jpg" alt="Alternate Text" class="img-responsive" />*@
                </div>
            </div>
        </div>

        <center class="row">
            <h4>
            DIRECCION GENERAL DEL OBSERVATORIO AMBIENTAL <br />
            LABORATORIO DE CALIDAD DE AGUA <br />
            @if (Model.areas == "FQAA")
            {
                <span>ÁREA DE ANÁLISIS FÍSICO QUÍMICO Y ABSORCIÓN ATÓMICA</span> <br />
            }
            else
            {
                <span>ÁREA DE ANÁLISIS BACTEREOLOGÍA</span> <br />
            }
            INFORME DE RESULTADOS EN MUESTRAS DE AGUA</h4>
        </center>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Número de Referencia:</b></div>
            <div class="col-md-6 col-xs-5"><strong>@Model.numeroReferencia</strong></div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Identificación de la muestra:</b></div>
            <div class="col-md-6 col-xs-5"><strong>@Model.identificacion</strong></div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Nombre Solicitante:</b></div>
            <div class="col-md-6 col-xs-5">@Model.solicitante</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Dirección de Solicitante:</b></div>
            <div class="col-md-6 col-xs-5">@Model.direccion</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Fecha de toma de muestras:</b></div>
            <div class="col-md-6 col-xs-5">@Model.fechaTomaMuestra</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Fecha de recepción en Laboratorio:</b></div>
            <div class="col-md-6 col-xs-5">@Model.fechaRecepcion</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Fecha de Inicio de Análisis:</b></div>
            <div class="col-md-6 col-xs-5">@Model.fechaInicio</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Fecha de Finalización de Análisis:</b></div>
            <div class="col-md-6 col-xs-5">@Model.fechaFinalizacion</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Fecha de Generación de Reporte:</b></div>
            <div class="col-md-6 col-xs-5">@Model.fechaGeneracion</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Responsable de Toma de Muestras:</b></div>
            <div class="col-md-6 col-xs-5">@Model.responsableMuestra</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Tipo de muestra:</b></div>
            <div class="col-md-6 col-xs-5">@Model.tipoMuestra</div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1"><b>Procedencia:</b></div>
            <div class="col-md-6 col-xs-5">@Model.procedencia</div>
        </div>
        <br />
        <div class="row">
            <center class="col-md-10 col-md-offset-1">
                <h4>Parametros de campo reportados</h4>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td><b>Expresado como: </b></td>
                    </tr>
                    <tr>
                        <td>Fecha: </td>
                        <td>@Model.fechaTomaMuestra</td>
                        <td> </td>

                    </tr>
                    @foreach (Parametro parametro in Model.Parametros)
                    {
                        <tr>
                            <td>@parametro.nombre</td>
                            <td>@parametro.valor</td>
                            <td>@parametro.expresado</td>
                        </tr>
                    }
                </table>
            </center>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4 style="text-align: center">Resultados de Análisis de Laboratorio</h4>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>PARAMETRO</th>
                        <th>RESULTADO</th>
                        @if (Model.areas == "FQAA")
                        {
                            <th>INCERTEZA</th>
                        }
                        else
                        {
                            <th>PRECISIÓN</th>
                        }
                        <th>UNIDADES</th>
                        <th>LIMITE DE DETECCION</th>
                        <th>METODO</th>
                    </tr>
                    
                    @foreach (Resultado resultado in Model.Resultados)
                    {
                        if (Model.areas == "Bact")
                        {
                            if ((resultado.analisis == "Coliformes totales" || resultado.analisis == "Coliformes fecales" || resultado.analisis == "Enterococcus fecales"))
                            {
                                <tr>
                                    <td>@resultado.analisis</td>
                                    <td><textarea id="TextArea2" rows="1" cols="14" maxlength="14" style="border: none;">@resultado.resultado</textarea></td>
                                    <td><textarea id="TextArea3" rows="1" cols="14" maxlength="14" style="border: none;">+/- @resultado.incerteza</textarea></td>
                                    <td>@resultado.unidades</td>
                                    <td><textarea id="TextArea3" rows="1" cols="14" maxlength="14" style="border: none;">@resultado.limiteDeteccion</textarea></td>
                                    <td>@resultado.metodo</td>
                                </tr>
                            }
                        }
                        else if (Model.areas == "FQAA")
                        {
                            if ((resultado.analisis == "Coliformes totales" || resultado.analisis == "Coliformes fecales" || resultado.analisis == "Enterococcus fecales"))
                            {

                            }
                            else
                            {
                                <tr>
                                    <td>@resultado.analisis</td>
                                    <td><textarea id="TextArea2" rows="1" cols="14" maxlength="14" style="border: none;">@resultado.resultado</textarea></td>
                                    <td><textarea id="TextArea3" rows="1" cols="14" maxlength="14" style="border: none;">+/- @resultado.incerteza</textarea></td>
                                    <td>@resultado.unidades</td>
                                    <td><textarea id="TextArea3" rows="1" cols="14" maxlength="14" style="border: none;">@resultado.limiteDeteccion</textarea></td>
                                    <td>@resultado.metodo</td>
                                </tr>
                            }
                        }
                    }
                </table>
                <BR> 
                
                Comentario: <br><textarea id="TextArea1" rows="3" cols="114"  maxlength="350" ></textarea><BR> <BR> <BR> 

                <p style="font-size: 0.8em;">
                    <b>Abreviaturas: </b>ND: No Detectable &nbsp;&nbsp;&nbsp;&nbsp;NR: No Realizado &nbsp;&nbsp;&nbsp;&nbsp;SMEWW: Standard  Methods for Examination of water and Wastewater
                </p>

                <p style="font-size: 0.9em;">
                    <b>Notas:</b>

                    <ul>
                        <li>Este informe de Resultados de análisis no puede ser reproducido parcial ni totalmente sin la aprobación por escrito del Laboratorio de Calidad de Aguas.</li>
                        <li>Los resultados de análisis corresponden únicamente a la muestra ingresada a este Laboratorio.</li>
                        <li>El Laboratorio no realiza muestreo</li>
                    </ul>

                    <b>
                        <br><textarea id="TextArea6" rows="3" cols="114" maxlength="350">
Registro de Acreditación: LEA-02:16 en los Alcances de la Acreditación: DBO 5 , DQO, pH, Grasas y Aceites, Sólidos Sedimentables, Sólidos Suspendidos Totales, Cloruros, Oxigeno Disuelto, Turbidez, Coliformes totales y Coliformes fecales, con el Organismo Salvadoreño de Acreditación</textarea><BR>
                    </b>
                </p>

                <br /><br />

                    <p style="font-size: 0.9em; text-align: center">
                        Lic. Regina Cortez <br />
                        Coordinadora del Laboratorio
                    </p>
                    <br /><br />
                </div>
        </div>
    </div>

</div>


